/* Your Website Styles */
#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

/* source: http://css-tricks.com/perfect-full-page-background-image/; */



img {

	width: 400px; 
}
h1 {
	color: #81D8D0;
	font-family: 'Berkshire Swash', 'cursive';
	letter-spacing: 4px;
	text-align: center;
	margin: 50px 0px 0px 0px;
}

h2 {
	color: #81D8D0;
	font-family: 'Open Sans', 'sans-serif';
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px 0px 50px 0px;
	font-size: .7em;
}


a{
	text-decoration: none;
	color: #B8B8B8;
	font-family: 'Open Sans', 'sans-serif';
}

a:hover {
	color: #81D8D0;
}

p {
	line-height: 20px;
	color: #B8B8B8;
	font-family: 'Open Sans', 'sans-serif';
}


h3 {
	color: #B8B8B8;
	font-family: 'Open Sans', 'sans-serif';

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.right {
	text-align: right;
}

ol {
	list-style: none;
}