/* Your Website Styles */
img {

	width: 400px; 
}
h1 {
	color: #81D8D0;
	font-family: 'Bad Script', cursive;
	letter-spacing: 4px;
	text-transform: uppercase;
}

p {
	line-height: 20px;
}

h3 {
	color: darkgray;
	font-family: 'Bad Script', cursive;

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}