/* Your Website Styles */
body {
	background: url("../img/crossword.png");
}

img {

	width: 400px; 
}
h1 {
	color: #81D8D0;
	font-family: 'Bad Script', cursive;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: 50px 0px 0px 0px;
}
h2 {
	color: #81D8D0;
	font-family: 'Bad Script', cursive;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px 0px 50px 0px;
	font-size: .7em;
}

p {
	line-height: 20px;
}

h3 {
	color: darkgray;
	font-family: 'Bad Script', cursive;

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.right {
	text-align: right;
}

ol {
	list-style: none;
}